<fieldset>
	<legend>用户列表
        <a class="btn btn-primary btn-xs" href="/admin/user/add">
            <span class="glyphicon glyphicon-plus"></span> 添加用户
        </a>
	</legend>
    <div class="table-responsive">
		<table class="table table-hover">
			<thead>
			<tr>
				<th>ID</th>
				<th>用户名</th>
                <th>昵称</th>
				<th>邮箱</th>
				<th>最后登录</th>
				<th>登录IP</th>
				<th>登录次数</th>
				<th>激活状态</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			{{range $k, $v := .list}}
				<tr>
					<td>{{$v.Id}}</td>
					<td>{{$v.Username}}</td>
                    <td>{{$v.Nickname}}</td>
					<td>{{$v.Email}}</td>
					<td>{{date $v.Lastlogin "Y-m-d H:i:s"}}</td>
					<td>{{$v.Lastip}}</td>
					<td>{{$v.Logincount}}</td>
					<td>
						{{if eq $v.Active 1}}
						<span class="text-success">已激活</span>
						{{else}}
						<span class="text-error">未激活</span>
						{{end}}
					</td>
					<td>
					<a href="/admin/user/edit?id={{$v.Id}}">编辑</a> |
					<a href="/admin/user/delete?id={{$v.Id}}" onclick="return del_confirm()">删除</a>
					</td>
				</tr>
			{{end}}
            <td colspan="6">{{str2html .pagebar}}</td>
			</tbody>
		</table>
	</div>
</fieldset>