<fieldset>
	<legend>添加用户
        <a class="btn btn-primary btn-xs" onclick="javascript:history.back();">
            <span class="glyphicon glyphicon-share-alt"></span> 返回
        </a>
	</legend>
	<form class="form-horizontal" method="post">
		<table class="table table-form">
			<tbody>
			<tr>
				<th class="col-lg-2 col-md-2 col-sm-2 col-xs-2 column">用户名:</th>
				<td class="col-lg-10 col-md-10 col-sm-10 col-xs-10 column">
					<input name="username" value="{{.input.username}}" class="form-control" type="text" />
					<span class="text-error">{{.errmsg.username}}</span>
				</td>
			</tr>
			<tr>
				<th>密码:</th>
				<td>
					<input name="password" value="{{.input.password}}" class="form-control" type="password" />
					<span class="text-error">{{.errmsg.password}}</span>
				</td>
			</tr>
			<tr>
				<th>确认密码:</th>
				<td>
					<input name="password2" value="{{.input.password2}}" class="form-control" type="password" />
					<span class="text-error">{{.errmsg.password2}}</span>
				</td>
			</tr>
			<tr>
				<th>用户头像:</th>
				<td>
                    <div class="input-group">
                        <span class="input-group-addon">当前：</span>
                        <input type="text" id="picture" name="avator" class="form-control" />
                    </div>
                    <input type="file" id="newcover" name="newavator" />
                    <img src="/static/upload/default/yulan-100x100.png" id="autoview" class="img-rounded" width="60" height="60">
                    <button type="button" id="uploadimg" class="btn btn-primary">上传</button>
                    <div class="alert alert-warning">
                        <strong>温馨提示：</strong>点击上传,保存后才能生效,服务器仅允许上传格式jpg、jpeg、png并自动裁剪像素:60*60
                    </div>
				</td>
			</tr>
            <tr>
                <th>昵称:</th>
                <td>
                    <input name="nickname" value="{{.input.nickname}}" class="form-control" type="text" />
                    <span class="text-error">{{.errmsg.nickname}}</span>
                </td>
            </tr>
			<tr>
				<th>邮箱:</th>
				<td>
					<input name="email" value="{{.input.email}}" class="form-control" type="text" />
					<span class="text-error">{{.errmsg.email}}</span>
				</td>
			</tr>
			<tr>
				<th>权限分配:</th>
				<td>
					<label><input name="permission1" class="checkbox" value="1" type="checkbox" />用户管理</label>
					<label><input name="permission2" class="checkbox" value="2" type="checkbox" />文章管理</label>
					<label><input name="permission3" class="checkbox" value="3" type="checkbox" />相册管理</label>
					<label><input name="permission4" class="checkbox" value="4" type="checkbox" />友链管理</label>
					<label><input name="permission5" class="checkbox" value="5" type="checkbox" />心情管理</label>
					<label><input name="permission6" class="checkbox" value="6" type="checkbox" />标签管理</label>
					<label><input name="permission7" class="checkbox" value="7" type="checkbox" />站点设置</label>
					<label><input name="permission8" class="checkbox" value="8" type="checkbox" />上传权限</label>
				</td>
			</tr>
			</tr>
			<tr>
				<th>激活状态:</th>
				<td>
					<label for="data_active_0" class="checkbox-inline">
						<input type="radio" name="active" value="0" id="data_active_0" checked />未激活</label>
					<label for="data_active_1" class="checkbox-inline">
						<input type="radio" name="active" value="1" id="data_active_1" />已激活</label>
				</td>
			</tr>
			</tbody>
			<tfoot>
				<tr>
					<th></th>
					<td>
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i> 保存</button>
					<button type="button" class="btn btn-primary" onclick="javascript:history.back();">取消</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>

</fieldset>