<h1 class="t_nav">
    <a href="/" class="n1">网站首页</a>
    <a href="/about.html" class="n2">关于我</a>
    <span class="glyphicon glyphicon-map-marker"> 人生贵知心，定交无暮早。</span>
</h1>
<div class="about_c">
    <p>网名：<span>{{.options.nickname}}</span></p>
    <p>生日：1987-09-30</p>
    <p>籍贯：湖北省 黄石市</p>
    <p>现居：湖北省 武汉市</p>
    <p>职业：游戏运维攻城师</p>
    <p>主要职责：<br/>
        1、Windows、Linux服务器运维，主要包括IIS、Apache、Nginx、Firewall、MySQL、SQLServer等常用服务。<br/>
        2、日常备份与灾备恢复等确保数据安全，以及DBA相关其他职能。<br/>
        3、负责公司内部网络运维，硬件维护、内外网分离以及常用第三方软件运维，主要包括SVN、FTP、BugFree、企业邮箱等服务。<br/>
        4、业务线部分Golang服务端维护及二次开发。</p>
    <p>擅长语言：Python、Golang、SQL、Shell</p>
    <p>爱好：旅行、游戏、技术</p>
    <p>
        <a target="_blank" href="//mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=LRwcGhQaGxgdFG1cXANOQkA" style="text-decoration:none;">
            <img src="//rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_01.png"/></a>
    </p>
</div>
<div class="aboutme"></div>