<h1 class="t_nav">
    <span class="glyphicon glyphicon-map-marker"> 人生贵知心，定交无暮早。</span>
    <a href="/" class="n1">网站首页</a>
    <a href="/about.html" class="n2">关于我</a>
</h1>

<aside class="left">
    	<div class="about_c">
	    <p>网名：<span>{{.options.nickname}}</span></p>
	    <p>生日：1987-09-30</p>
	    <p>籍贯：湖北省 黄石市</p>
	    <p>现居：湖北省 武汉市</p>
	    <p>职业：游戏运维攻城师</p>
	    <p>爱好：旅行、游戏、技术</p>
	    <p>
            <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=LRwcGhQaGxgdFG1cXANOQkA" style="text-decoration:none;">
                <img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_01.png"/></a>
		</p>
	</div>
	<div class="aboutme"><div/>
</aside>