<h1 class="t_nav">
	<a href="/" class="n1">网站首页</a>
	<a href="/life.html" class="n2">{{.smalltitle}}</a>
    <span class="glyphicon glyphicon-map-marker"> 像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span>
</h1>

<div class="index_about col-lg-9 col-md-9 col-sm-12 col-xs-12 column">
    <h2 class="c_titile col-lg-12 col-md-12 col-sm-12 col-xs-12 column">{{str2html .post.ColorTitle}}</h2>
    <p class="box_c col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
    	<span class="d_time">发布时间：{{date .post.Posttime "Y-m-j H:i"}}</span>
    	<span>编辑：{{.post.Author}}</span>
        <span>阅读：{{.post.Views}}</span>
    </p>
    <ul class="infos col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
     	{{str2html .post.Content}}
    </ul>
    <div class="keybq col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
    <p><span class="glyphicon glyphicon-tag"></span><span>关键字词</span>[{{str2html .post.TagsLink}}]</p>
    </div>
    <div class="nextinfo col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
    {{if .pre}}
        <p>上一篇：<a href="{{.pre.Link}}">{{str2html .pre.ColorTitle}}</a></p>
    {{end}}
    {{if .next}}
        <p>下一篇：<a href="{{.next.Link}}">{{str2html .next.ColorTitle}}</a></p>
    {{end}}
    </div>
    <div id="lv-container" data-id="city" data-uid="MTAyMC8zNzgzOC8xNDM2OA==">
        <script type="text/javascript">
            (function(d, s) {
                var j, e = d.getElementsByTagName(s)[0];

                if (typeof LivereTower === 'function') { return; }

                j = d.createElement(s);
                j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                j.async = true;

                e.parentNode.insertBefore(j, e);
            })(document, 'script');
        </script>
    </div>
</div>
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
