<footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
    <p>Copyright &copy; 2016 - 2023 <a href="/" rel="external" target="_blank">inana
        </a> Power by <a href="/" rel="external" target="_blank">WuYun</a></p>
    <div class="footer-ba">
        <a href="http://www.miibeian.gov.cn" rel="external" target="_blank">鄂ICP备16001930号</a>
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42018502002413">
            <img src="/static/upload/default/icon_gaba.png" width="16" height="16"/>
            鄂公网安备 42018502002413号</a>
    </div>
    <div class="footer-img">
        <a href="http://webscan.360.cn/index/checkwebsite/url/www.inana.top" target="_blank">
            <img border="0" src="https://webscan.360.cn/status/pai/hash/15323ed737cdaf6cd62acca3f23dc1b1" height="35"/>
        </a>
    </div>
</footer>
<div class="top-to-page">
    <a href="#" id="to_top" class="btn btn-default"><span class="glyphicon glyphicon-chevron-up">顶部</span></a>
    <a href="#" id="to_down" class="btn btn-default"><span class="glyphicon glyphicon-chevron-down">底部</span></a>
    <button type="button" id="wechat_btn" class="btn btn-default" data-html="true"
        title="我的微信" data-container="body"
        data-toggle="popover" data-placement="left"
        data-content='<a style="width: 250px" class="weixin"></a>'>
        <span class="glyphicon glyphicon-qrcode"></span>
    </button>
</div>
