<footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
    <p class="copyright">
        Copyright &copy; 2016 - 2023 <a href="/" rel="external" target="_blank">inana
        </a> Power by <a href="/" rel="external" target="_blank">WuYun</a>
    </p>
    <a href="http://www.miibeian.gov.cn" rel="external" target="_blank">鄂ICP备16001930号</a>
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42018502002413">
        <img style="vertical-align: text-bottom;" src="/static/upload/default/icon_gaba.png" width="16" height="16"/>
        鄂公网安备 42018502002413号</a>
</footer>

<!-- Duoshuo JS BEGIN -->
  <script type="text/javascript">
    var duoshuoQuery = {short_name:"{{.options.duoshuo}}"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = 'http://static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
      || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
  </script>
  <!-- Duoshuo JS BEGIN -->

  <!-- 导航栏高亮显示 -->
<script type="text/javascript">
    var obj=null;
    var As=document.getElementById('topnav').getElementsByTagName('a');
    obj = As[0];
    for(i=1;i<As.length;i++){
        if(window.location.href.indexOf(As[i].href)>=0)
        obj=As[i];
    }
    obj.id='topnav_current';
</script>


  <!-- 百度分享按钮 -->
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"2","bdPos":"right","bdTop":"288"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>