<script src="/static/js/lightGallery.min.js"></script>
<link href="{{.root}}css/photo.css" rel="stylesheet">
<script>
    $(document).ready(function() {
        $(".viewcover").lightGallery({
            loop:true,
            auto:true,
            desc:true,
            counter:true,
            pause:3000
        });
    });
</script>

<div class="moodlist">
    <h1 class="t_nav">
        <a href="/" class="n1">网站首页</a>
        <a href="/mood.html" class="n2">碎言碎语</a>
        <p><span class="glyphicon glyphicon-map-marker"></span> 删删写写，回回忆忆，虽无法行云流水，却也可碎言碎语。</p>
    </h1>
    <div class="article_all col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
    {{range $k, $v := .list}}
        <div class="sy col-lg-8 col-md-8 col-sm-10 col-xs-10 column">
            <div class="bg">
                <ul class="viewcover gallery list-unstyled">
                    <li data-src="{{$v.Cover}}">
                        <img class="moodimg" src="{{$v.ChangetoSmall}}">
                    </li>
                </ul>
                <p>{{str2html $v.Content}}</p>
            </div>
        </div>
        <span class="dateview col-lg-2 col-md-2 col-sm-2 col-xs-2 column">{{date $v.Posttime "Y-m-j"}}</span>
    {{end}}
    </div>
    {{str2html .pagebar}}
</div>