<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<title>登录</title>
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<style type="text/css">
	body {background:#444}
	p {}
	.main {width:350px; margin:100px auto 0 auto; color:#888; overflow:hidden;}
	.loginform {padding: 10px 10px 10px; width:100%; background:#fff; color:#333}
	fieldset {margin:20px;}
	</style>
</head>
<body>
	<div class="main">
		<div class="loginform">
			<form method="post">
				<input type="hidden" name="dosubmit" value="yes" />
				<fieldset>
					<legend>后台登录</legend>
                {{if .errmsg}}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert"></button>
                    {{.errmsg}}
                    </div>
                {{end}}
                    <div class="input-group">
                        <span class="input-group-addon">账号</span>
						<input type="text" name="account" class="form-control" placeholder="请输入管理员账号" />
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">密码</span>
					    <input type="password" name="password" class="form-control" placeholder="请输入密码" />
                    </div>
                    <br />
                    <div class="input-group">
                        <label><input id="remember" name="remember" value="yes" type="checkbox" />记住我一周</label>
                    </div>
                    <br />
					<button type="submit" style="float: right;" class="btn btn-success">登 录</button>
                    <br /><hr />
				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>