<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>登录</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        .loginbody {background-color: #444}
        label {font-size: 12px}
        .main {width:350px; margin:100px auto 0 auto; color:#888; overflow:hidden;}
        .loginform {padding: 10px 10px 10px; width:100%; background:#fff; color:#333}
        fieldset {margin:20px;}
    </style>
</head>
<body class="loginbody" onload="document.getElementById('username').focus();">
	<div class="main">
		<div class="loginform">
			<form method="post">
				<input type="hidden" name="dosubmit" value="yes" />
				<fieldset>
					<legend>inana站点注册</legend>
                    {{if .errmsg}}
                        <div class="alert alert-warning">
                            {{range $k, $v := .errmsg}}
                                {{$v}}<br />
                            {{end}}
                        </div>
                    {{end}}
                    <div class="input-group">
                        <span class="input-group-addon">账号</span>
						<input type="text" id="username" name="username" class="form-control" placeholder="请输入账号" />
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">密码</span>
					    <input type="password" name="password" class="form-control" placeholder="请输入密码" />
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">确认密码</span>
                        <input type="password" name="password2" class="form-control" placeholder="请再次输入密码" />
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">昵称</span>
                        <input type="text" name="nickname" class="form-control" placeholder="请输入昵称" />
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Email</span>
                        <input type="email" name="email" class="form-control" placeholder="请输入正确的邮箱" />
                    </div>
                    <br />
					<button type="submit" style="float: right;" class="btn btn-success" id="wy-register-submit">注 册</button>
                    <br /><hr />
                    <p>已有帐号？返回
                        <a href="/admin/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
                    </p>
				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>