<fieldset>
	<legend>心情列表
        <a class="btn btn-primary btn-xs" href="/admin/mood/add">
            <span class="glyphicon glyphicon-plus"></span> 添加心情
        </a>
	</legend>
    <div class="table-responsive">
		<table class="table table-hover">
			<thead>
			<tr>
				<th>ID</th>
				<th>时间</th>
				<th>内容</th>
				<th>图片</th>
                <th>操作</th>
			</tr>
			</thead>
			<tbody>
			{{range $k, $v := .list}}
				<tr>
					<td style="min-width: 80px">{{$v.Id}}</td>
					<td style="min-width: 100px">{{date $v.Posttime "y-m-d H:i:s"}}</td>
					<td style="white-space: normal;min-width: 500px">{{str2html $v.Content}}</td>
					<td><img src="{{$v.Cover}}" width = "170" height="80" /></td>
					<td style="min-width: 80px">
					<a href="/admin/mood/delete?id={{$v.Id}}" onclick="return del_confirm()">删除</a>
					</td>
				</tr>
			{{end}}
            <td colspan="6">{{str2html .pagebar}}</td>
			</tbody>
		</table>
	</div>
</fieldset>