<fieldset>
	<legend>相册图片</legend>
	<form method="post" name="p" action="/admin/article/save">
	<table class="table table-form">
		<tbody>
			<tr>
	            <td>
	            	<a href="javascript:void(0);" onclick="upImage();">上传图片</a>
	            </td>
			</tr>
			<tr>
				<td>
					<ul id="auto-loop" class="gallery list-unstyled">
				        {{range $k, $v := .list}}
				            <li data-desc="{{$v.Des}}"> 
				              <a href="#">
				                <img src="{{$v.Small}}" />
				              </a> 
				              <a href="/admin/photo/cover?cover={{$v.Small}}&albumid={{$v.Albumid}}">设为封面</a>
				              <a href="/admin/photo/delete?id={{$v.Id}}&albumid={{$v.Albumid}}" onclick="return del_confirm()">删除</a>
				            </li>
				       {{end}}
    				</ul>
				</td>
			</tr>
		</tbody>

	</table>
	</form>

</fieldset>
<link href="/static/themes/admin/css/lightGallery.css" rel="stylesheet" type="text/css"/>
<script>
	  $(document).ready(function() {
	    $("#auto-loop").lightGallery({
	        loop:true,
	        auto:true,
	        desc:true,
	        counter:true,
	        pause:3000
	      });
	    });
</script>

<style>
	ul{
		list-style: none outside none;
	    padding-left: 0;
	}
	.gallery li {
		display: block;
		float: left;
		height: 100px;
		margin-bottom: 6px;
		margin-right: 6px;
		width: 100px;
	}
	.gallery li a {
		height: 100px;
		width: 100px;
	}
	.gallery li a img {
		max-width: 100px;
	}
</style>

<script type="text/javascript" charset="utf-8">
	window.UEDITOR_HOME_URL = "/static/ueditor/";
</script>
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.all.min.js"></script>
<script type="text/plain" id="upload_ue"></script>
<script type="text/javascript" charset="utf-8">
	var optionsUP = {"imageUrl":"/admin/photo/uploadphoto?albumid={{.albumid}}","imagePath":""};
	//上传标题图片
	var _editor = UE.getEditor("upload_ue",optionsUP);
	_editor.ready(function () {
        _editor.setDisabled();
        _editor.hide();
        _editor.addListener('beforeInsertImage', function (t, arg) {     //侦听图片上传
         	window.location.href = '/admin/photo/list?albumid={{.albumid}}';
        })
	});
    function upImage() {
        var myImage = _editor.getDialog("insertimage");
        myImage.open();
    }
</script>