<fieldset>
	<legend>相册图片
        <a class="btn btn-primary btn-xs" onclick="javascript:history.back();">
            <span class="glyphicon glyphicon-share-alt"></span> 返回
        </a>
	</legend>
	<form method="post" name="p" action="/admin/article/save">
        <div class="table-responsive">
			<table class="table table-form">
                <input type="file" id="newcover" name="newcover" data-uptype="3" data-albumid="{{.albumid}}" />
                <img src="/static/upload/default/yulan-190x135.png" id="autoview" class="img-rounded" width="190" height="135">
                <button type="button" id="uploadimg" class="btn btn-primary">上传</button>
                <div class="alert alert-warning">
                    <strong>温馨提示：</strong>点击上传之后生效,服务器仅允许上传格式jpg、jpeg、png并自动裁剪像素:190*135
                </div>
				<tbody>
					<tr>
						<td>
							<ul id="auto-loop" class="gallery list-unstyled">
								{{range $k, $v := .list}}
									<li data-desc="{{$v.Des}}">
									  <img src="{{$v.Small}}" />
									  <a href="/admin/photo/cover?cover={{$v.Small}}&albumid={{$v.Albumid}}">设为封面</a>
									  <a href="/admin/photo/delete?id={{$v.Id}}&albumid={{$v.Albumid}}" onclick="return del_confirm()">删除</a>
									</li>
							   {{end}}
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</fieldset>
