<h1 class="t_nav">
    <a href="/" class="n1">网站首页</a>
    <a href="/about.html" class="n2">关于我</a>
    <p><span class="glyphicon glyphicon-map-marker"></span> 人生贵知心，定交无暮早。</p>
</h1>
<div class="about_c">
    <p>网名：<span>{{.options.nickname}}</span></p>
    <p>生日：{{.options.mybirth}}</p>
    <p>籍贯：{{.options.myoldcity}}</p>
    <p>现居：{{.options.mycity}}</p>
    <p>职业：{{.options.myprifessional}}</p>
    <p>主要职责：<br/>{{str2html .options.myworkdesc}}</p>
    <p>擅长语言：{{.options.mylang}}</p>
    <p>爱好：{{.options.mylike}}</p>
    <p>
        <a target="_blank" href="//mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=LRwcGhQaGxgdFG1cXANOQkA" style="text-decoration:none;">
            <img src="//rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_01.png"/></a>
    </p>
</div>
<div class="aboutme"></div>