<div class="banner">
    <section class="box col-md-12 column">
        <ul class="col-lg-2 col-md-2 hidden-sm hidden-xs column">
        </ul>
        <ul class="texts col-lg-5 col-md-5 col-sm-12 col-xs-12 column">
            <p>生命的意义并不刻意在什么地方停留</p>
            <p>更不是不停歇的随波逐流</p>
            <p>只要你走下去，总会有惊喜在前方等着你</p>
        </ul>
        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs column">
            <div class="avatar"><a href="/"><span>{{.options.nickname}}</span></a> </div>
            <div class="lock"> </div>
            <div class="avatarher"><a href="/"><span>Nana</span></a> </div>
        </div>
    </section>
</div>