@CHARSET "UTF-8";

body {background:#fff;padding: 0;}
a {color:#2277AA;}
a:hover {color:#DC6C31; text-decoration:none;}
p {margin: 0!important;}
ul {list-style:none;}
select {font-size: 12px; margin: 0;}
label { font-size:12px !important;margin: 0;vertical-align: middle; }

.header {
	background:#464646 url('../img/top-bg.png') repeat-x;
	color:#fff;
	height:41px; 
	margin-bottom:10px
}
.header h1 {margin:5px 0;font-size:24px;text-shadow:1px 1px 0 #000;}
.header h1 span {color:#f0f0f0; font-size:12px; font-weight: normal;margin-left: 50px;line-height: 41px}
.header a {color:#f0f0f0;}
.header a:hover {color: yellow;}
.header i {color: #666}
.main {background:#fff}
footer { text-align: center; line-height: 40px; border-top: #E8E8E8 1px solid ; width:1000px; margin:auto}

.adminnav .panel-heading {text-align: center;}
.adminnav .panel-body {padding: 0!important;}
.adminnav .panel-body a {text-align: center;}
.adminnav .nav-pills>li.active>a, .adminnav .nav-pills>li.active>a:focus, .adminnav .nav-pills>li.active>a:hover {
	background:#464646 url('../img/top-bg.png') repeat-x;
}

.table-form th {
	vertical-align:middle!important;
	font-size:12px;
	line-height:26px!important;
	text-align:right;
	color:#333;
	border-top:none!important;
	padding: 0!important;
}
@media (min-width: 992px) {
	.table-form td .form-control, .table-form td .input-group {
		width: 50%;
	}
	.table-form td .input-group .form-control {
		width: 100%!important;
	}
}
.table-form td .input-group {
	margin-bottom: 5px;
}
.table-form tfoot, .table-form tfoot {background:#f9f9f9}
.table-form td {border:none;border-top:none!important;}
.table-form td a {margin: 5px;}
.table-form td label input {margin: 3px 0 0;}
.table-form input {vertical-align: middle;}
.table-form textarea {margin: 0;}
.table-form td select {margin: 0;}
.table-form img {margin: 3px 10px 0 0;}

.pagination {margin:0;}

.search-form {border:1px solid #FBEED5; background:#FCF8E3; padding:5px; margin:5px 0}
.search-form form {margin:0}

.toolbar {margin-bottom:10px;font-size:12px}
.toolbar a {line-height:35px;}
.toolbar a:hover {text-decoration:none;}
.toolbar .active {background:#498CD0; color:#fff; padding:3px 10px; -moz-border-radius: 2px;-webkit-border-radius: 2px;-khtml-border-radius: 2px;border-radius: 2px; }
.toolbar .divider {color:#ccc; margin:0 5px}

legend .btn { margin-left: 30px; }

.page { margin: 20px 0; text-align: center; width: 100%; overflow: hidden; }
.page a b { color: #999; }
.page>b, .page a { margin: 0 2px; height: 26px; line-height: 26px; border-radius: 50%; width: 26px; text-align: center; display: inline-block }
.page a { margin: 0 2px; height: 26px; line-height: 26px; border-radius: 50%; width: 26px; text-align: center; display: inline-block }
.page>b, .page a:hover { background: #333; color: #FFF; }
.page a { color: #F33; border: #999 1px solid; }

/*xheditor样式*/
@media (min-width: 992px) {
	#xhe0_container.xhe_default table.xheLayout {
		width: 900px!important;
	}
}
@media (max-width: 991px) {
	#xhe0_container.xhe_default table.xheLayout {
		width: 300px!important;
	}
}
