h1.t_nav p { margin: 0; font-size: 12px; }
@media (min-width: 992px) {
	h1.t_nav p { padding-left: 5%; display: inline; vertical-align: text-top; line-height: 30px; }
}
@media (max-width: 991px) {
	h1.t_nav p { float: left; line-height: 20px; padding: 5px 0; }
}
h1.t_nav p span { vertical-align:text-top; font-size: 14px; color:#999; }
h1.t_nav { border-bottom: #F1F1F1 1px solid; font-size: 12px; font-weight: normal; line-height: 40px; height: 40px; margin: 10px 0; }
a.n1, a.n2 { width: 100px; display: block; text-align: center; color: #fff; float: left }
.n1 { background: #5EA51B; }
.n2 { background: #8BBF5D; }
.moodlist { margin: auto; width: 100%; overflow: hidden }

.photolist {
	float: left;
	margin: 2px;
	padding: 20px 2px 10px 2px;
	text-align: left;
}
.albumlist {
	float: left;
	margin: 2px;
	padding: 20px 2px 10px 2px;
	text-align: left;
}
ul.gallery {
	list-style: none outside none;
	padding: 0;
	display: inline-block;
}
ul.gallery li {
	padding: 0;
	display: block;
	float: left;
}
.photolist ul.gallery li a {
	padding: 8px;
    -webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -o-transition:all .1s linear;
    transition:all .1s linear;
}
.photolist ul.gallery li a:hover {
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}
.photolist ul.gallery li a img {
	border-radius: 8px 8px 0 0;
	padding: 0;
}
.photolist ul.gallery li a span {
	border-radius: 0 0 8px 8px;
	padding: 0;
	line-height:30px;
	text-align:center;
	float:left;
	font-size:12px;
	background-color: #E8E8E8;
	max-height: 30px;
	color: #9b9b9b;
}
.albumlist ul.gallery li a {
	padding: 8px;
}
.albumlist ul.gallery li a img {
	padding: 0;
}
.albumlist ul.gallery li a span {
	border-radius: 0 0 8px 8px;
	padding: 0;
	line-height:35px;
	text-align:center;
	float:left;
	font-size:12px;
	background-color: #E8E8E8;
	max-height: 35px;
	border: #E8E8E8 5px solid;
	border-top: 0;
	font-weight:700;
	color: #9b9b9b;
}

.box1 {
    height:130px;
    border: #E8E8E8 5px solid;
	border-radius: 8px 8px 0 0;
    border-bottom: 0;
    background-size:100% 100%!important;
}
.box2 {
	width:50px;height:25px;position:absolute;bottom:6px;right:0;text-align:center;color:#fff;font-size: 20px;
}
.box2-wrap {
    width:100%;
    height:50px;
    position:absolute;
    bottom:0;
    left:0;
	background: #525252;
	background: -webkit-linear-gradient(rgba(0,0,0,0), rgb(82, 82, 82));
	background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);; /*FireFox*/
	background: -o-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);  /* Opear */
	background: -ms-linear-gradient(rgba(0,0,0,0), rgb(82, 82, 82)); /*IE10ÂèäIE10+*/
}

.mooddesc {
	max-width: 800px;
	margin: auto;
}